@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 90%;
}

#Home {
  background-image: url("/src//assets/jess-bailey-q10VITrVYUM-unsplash.jpg");
}
